In [1]:
import csv

In [2]:
header=['sid','name','city','contect']

In [4]:
records=[[1,'om','surat',9724460550],
        [2,'sai','bardoli',997927500],
        [3,'ram','vyara',9054051480],
        [4,'radha','mandavi',9574051480],
        [5,'kishan','asta',9563148756]]
l=[]

In [5]:
for i in range(5):
    sid=int(input("enter student id:"))
    name=input("enter student name:")
    city=input("enter student city:")
    contect=int(input("enter student contect:"))
    s=[sid,name,city,contect]
    l.append(s)

enter student id:6
enter student name:sunil
enter student city:kamrej
enter student contect:9762148537
enter student id:7
enter student name:parth
enter student city:mahuva
enter student contect:4963178562
enter student id:8
enter student name:dev
enter student city:vyara
enter student contect:9057684197
enter student id:9
enter student name:bhavik
enter student city:mandavi
enter student contect:9564873186
enter student id:10
enter student name:vivek
enter student city:digas
enter student contect:9476238497

In [7]:
with open('student.csv','w',newline='') as f:
    file=csv.writer(f)
    file.writerow(header)
    file.writerows(records)
    file.writerows(l)

In [8]:
with open('student.csv','r',newline='') as read:
    record=csv.reader(read)
    for records in record:
        print(records)

['sid', 'name', 'city', 'contect']
['1', 'om', 'surat', '9724460550']
['2', 'sai', 'bardoli', '997927500']
['3', 'ram', 'vyara', '9054051480']
['4', 'radha', 'mandavi', '9574051480']
['5', 'kishan', 'asta', '9563148756']
['6', 'sunil', 'kamrej', '9762148537']
['7', 'parth', 'mahuva', '4963178562']
['8', 'dev', 'vyara', '9057684197']
['9', 'bhavik', 'mandavi', '9564873186']
['10', 'vivek', 'digas', '9476238497']